@media (max-width: 992px) {
    .med-wrap {
        flex-wrap: wrap;
    }

    .roguelite {
        border: hidden;
        background-color: #18181B;
        width: 100%;
        max-height: 25%;
        height: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 1.5em;
    }
}

@media (min-width: 992px) {
    .roguelite {
        border-left: 1px solid #495057;
        padding: 2rem;
    }
}

@media (max-width: 975px){
    .flex-vert-975{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5em;
    }

    .mw-60-975-{
        max-width: 90%;
    }

    .img-box-under-text-975{
        max-width: 90%;
        border: 1px solid #495057;
        border-radius: 25px;
        padding: 0.5rem;
        display: flex;
        flex: 1;
    }
}

@media (min-width: 975px){
    .mw-60-975-{
        max-width: 60%;
    }

    .img-box-under-text-975{
        max-width: 40%;
        border: 1px solid #495057;
        border-radius: 25px;
        padding: 0.5rem;
    }

    .flex-vert-975-{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5em;
    }
}

.img-box {
    max-width: 40%;
    border: 1px solid #495057;
    border-radius: 25px;
    padding: 0.5rem;
}

.flex-vert-975{
    display: flex;
}
