html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1300px) {
  .mw-70-on-wide {
      max-width: 70%;
  }

  .mw-60-on-wide {
      max-width: 60%;
  }
}

@media (max-width: 768px) {
  .small-wrap {
      flex-wrap: wrap;
  }

  .small-full-width {
      max-width: 95%;
  }

  .small-first-in-line {
      order: -1;
  }
}

@media (max-width: 1300px) {
  .med-full-width {
      max-width: 95%;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0E0E10;
    font-family: 'Sylfaen', sans-serif;
}

p{
    margin: 0px;
}

#top-bar {
    position: fixed;
    width: 100%;
    top: 0;
}

#profile-pic {
  max-width: 100%;
  max-height: 400px;
  height: auto;
}

.cyan-text {
    color : #00ffff;
}

.white-text {
    color: #e8e8e8;
}

.bcg-purple {
    background-color: #6e00ff;
}

.bcg-cyan {
    background-color: #00ffff;
}

.mw-800px {
    max-width: 800px;
}

.mw-30{
  max-width: 30%;
}

.mw-60 {
  max-width: 60%;
}

.small-text{
    font-size : 13px;
}

.page-title {
  font-variant: small-caps;
  border-bottom: 1px solid #495057;
}

.content-box {
  background-color: #18181B;
  border: 1px solid #495057;
  border-radius: 25px;
  padding: 0.5rem !important;
  margin: 1rem;
  width: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.flex-vert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

.pr-img {
  max-width: 100%;
  max-height: 8em;
  height: auto;
  border-radius: 15px;
}

.grey-bcg {
  background-color: #18181B;
  width: 100%;
  max-height: 25%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1.5em;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }