html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0E0E10;
    font-family: 'Sylfaen', sans-serif;
}

p{
    margin: 0px;
}

#top-bar {
    position: fixed;
    width: 100%;
    top: 0;
}

.cyan-text {
    color : #00ffff;
}

.white-text {
    color: #e8e8e8;
}

.bcg-purple {
    background-color: #6e00ff;
}

.bcg-cyan {
    background-color: #00ffff;
}

.mw-800px {
    max-width: 800px;
}

.small-text{
    font-size : 13px;
}

.content-box {
    background-color: #18181B;
    border: 1px solid #495057;
    border-radius: 25px;
    padding: 1rem !important;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }